<div class="container">
    <h2>{{ folderPath }}</h2>

    <!-- Sezione Takeoff -->
    <div class="section">
        <h3>Decollo:</h3>
        <p *ngFor="let timestamp of takeoffTimestamps">{{ timestamp }}</p>
        <p *ngIf="takeoffTimestamps.length === 0">Nessun decollo rilevato.</p>
    </div>

    <!-- Sezione Landing -->
    <div class="section">
        <h3>Atterraggio:</h3>
        <p *ngFor="let timestamp of landingTimestamps">{{ timestamp }}</p>
        <p *ngIf="landingTimestamps.length === 0">Nessun atterraggio rilevato.</p>
    </div>

    <div class="map-container">
        <div id="flightMap"></div>
    </div>

</div>