.title {
    margin: 0 2rem;
}

.container {
    margin: 0 2rem;
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.map-container {
    width: 25rem;
    height: 25rem;
    margin: 1.5rem 1.5rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

#flightMap {
    width: 100%;
    height: 100%;
}

.section {
    margin: 3rem 5rem;

}

h3 {
    margin: 0px;
    margin-left: 0.5rem;
}

p {
    margin: 0px;
    margin-top: 0.5rem;
}

hr {
    width: 100%;
    height: 1px;
    background-color: #000;
    border: none;
    margin-top: 9rem;
}



.atterraggio {
    margin-top: 3rem;
}

.vertical-line1 {
    width: 1px;
    height: 38rem;
    background-color: black;
    margin: 0 5rem;
    margin-left: 2rem;
}

.vertical-line {
    width: 1px;
    height: 38rem;
    background-color: black;
    margin-left: 5rem;
}

.trolley-name {
    margin-left: 3rem;
}

.sensor {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}