<div class="title">
    <h2>{{ folderPath }}</h2>
</div>


<div class="container">
    <div class="container-flight">
        <!-- Sezione Takeoff -->
        <div class="section-flight">
            <h3>
                <i class="fa-solid fa-plane-departure" style="margin-right: 0.5rem;"></i>
                Decollo:
            </h3>
            <p *ngFor="let timestamp of takeoffTimestamps">{{ timestamp }}</p>
            <p *ngIf="takeoffTimestamps.length === 0">Nessun decollo rilevato.</p>
        </div>

        <!-- Sezione Landing -->
        <div class="section atterraggio ">
            <h3>
                <i class="fa-solid fa-plane-arrival" style="margin-right: 0.5rem;"></i>
                Atterraggio:
            </h3>
            <p *ngFor="let timestamp of landingTimestamps">{{ timestamp }}</p>
            <p *ngIf="landingTimestamps.length === 0">Nessun atterraggio rilevato.</p>
        </div>

        <div *ngIf="totalDurationInSeconds > 0" class="section-flight">
            <h3>
                <i class="fa-solid fa-plane-up"></i>
                Durata volo:
            </h3>
            <p class="time-fly">{{convertSecondsToHMS(totalDurationInSeconds) }}</p>
        </div>


    </div>

    <div class="vertical-line1"></div>
    <div class="section">
        <h3 class="trolley-name">Trolleys: {{ trolleysName }}</h3>

        <div *ngIf="trolleysFolders.length > 0" class="sensor">
            <p *ngFor="let folder of trolleysFolders; let i = index">
                <a *ngIf="i < trolleysFolders.length - 1">
                    <i class="fa-solid fa-camera" style="margin-right: 0.5rem;"></i>
                    {{ folder }}
                </a>
            </p>
        </div>


        <div class="ilx">
            <div *ngIf="me1Data && me1Data.length > 0">
                <p>Totale Trigger: {{ me1Data.length }}</p>
            </div>


            <div *ngIf="ms1Data.length > 0">
                <p>Totale Strobe: {{ ms1Data.length }}</p>
            </div>

            <p>Totale immagini: {{ imageCount }}</p>
        </div>

    </div>

    <div class="vertical-line"></div>


    <div class="map-container">
        <div class="map">
            <div id="flightMap"></div>
        </div>

        <div>
            <div class="flight">
                <label>
                    <input type="checkbox" [checked]="showFlightPath" (change)="toggleFlightPathVisibility()">
                    Mostra Tracciato di Volo
                </label>
            </div>


            <h4 class="targets">Targets:</h4>
            <div *ngFor="let target of uniqueTargets">
                <label>
                    <input type="checkbox" [checked]="target.visible"
                        (change)="toggleTargetVisibility(target.targetname)">
                    {{ target.targetname }}
                </label>
            </div>

            <div class="strobe">
                <label>
                    <input type="checkbox" (change)=" toggleMs1Polygons()">
                    Mostra Strobe
                </label>
            </div>
        </div>



    </div>