<div class="upload">
    <h2>Upload</h2>
    <input type="file" (change)="onFileSelected($event)" accept="image/*">
    <button (click)="onUpload()" [disabled]="!selectedFile">Carica</button>

    @if (uploadMessage) {
    <p>{{ uploadMessage }}</p>
    }
</div>

<mat-divider></mat-divider>

<div class="nas">
    <h2>Esplora le cartelle del NAS</h2>

    <!-- Percorso corrente -->
    <p>Percorso corrente: {{ currentPath || 'Radice del NAS' }}</p>

    <!-- Pulsante per tornare indietro -->
    <button (click)="goBack()" [disabled]="!currentPath">Torna indietro</button>

    <!-- Elenco delle sottocartelle -->
    <h3>Cartelle:</h3>
    <ul>
        @for (folder of folders; track folder.path) {
        <li class="list">
            <a (click)="navigateToFolder(folder.path)">{{ folder.name }}</a>
        </li>
        }
    </ul>

    <!-- Elenco dei file -->
    <h3>File:</h3>
    <ul>
        @for (file of files; track file.path) {
        <li class="list">
            {{ file.name }}
            <button (click)="downloadFile(file.path)" class="download">Scarica</button>
        </li>
        }
    </ul>
</div>